

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.DropDownList("Order Status", new SelectList(ViewBag.Statuses, "StatusCode", "StatusDescription"))
    <input type="submit" value="Update"/>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Customer ID
        </th>
        <th>
            Date Arrived
        </th>
        <th>
            Received By
        </th>
        <th>
            Due Date
        </th>
        <th>
            Confirmation Date
        </th>
        <th>
            Comments
        </th>
        <th>
            RushOrder
        </th>
        <th>
            Price
        </th>
        <th>
            DiscountType
        </th>
        <th>
            StatusCode
        </th>
        <th>
            OrgPriceQuote
        </th>
        <th>
            AdjustedPriceQuote
        </th>
        <th>
            DataReport
        </th>
        <th>
            SummaryReport
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.Orders) {
    <tr>
        <td>
            @item.CustomerID
        </td>
        <td>
            @item.DateArrived
        </td>
        <td>
            @item.ReceivedBy
        </td>
        <td>
            @item.DueDate
        </td>
        <td>
            @item.ConfirmationDate
        </td>
        <td>
            @item.Comments
        </td>
        <td>
            @item.RushOrder
        </td>
        <td>
            @item.Price
        </td>
        <td>
            @item.DiscountType
        </td>
        <td>
            @item.StatusCode
        </td>
        <td>
            @item.OrgPriceQuote
        </td>
        <td>
            @item.AdjustedPriceQuote
        </td>
        <td>
            @item.DataReport
        </td>
        <td>
            @item.SummaryReport
        </td>
        <td>
            @Html.ActionLink("Order", "Edit", new { id=item.OrderID }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })*@
        </td>
    </tr>
}

</table>
